BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: All # indent everything inside namespaces

ColumnLimit: 120
FixNamespaceComments: false

SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeIsMainRegex: '(|\\.h|\\.hh|\\.hpp|\\.hxx)$'

IncludeCategories: # MSVC Precompiled header - MUST be first!
    - Regex: '^"pch\.h"$'
      Priority: -1

    - Regex: '^<([a-z_]+\\.h)>$'
      Priority: 1

    - Regex: "^<[^./]+>$"
      Priority: 2

    - Regex: "^<(gtest|gmock|fmt|spdlog|boost)/"
      Priority: 3

    - Regex: '^"Mercex/'
      Priority: 4

    - Regex: '^".*"'
      Priority: 5
